<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Remove direct connection and apply routing rule to display accordingly * * * * * * * * * * * -->
<div class="ui container">

  <div class="ui secondary pointing menu">
    <a routerLink="/elements" class="item">Elements</a>

    <a routerLink="/collections" class="item">Collections</a>

    <a routerLink="/views" class="item">Views</a>

    <a routerLink="/mods" class="item">Modules</a>
  </div>

  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


